<header class="main-header">
  <nav class="nav-container">
    <div class="logo">
      <span class="logo-text">LIGHTERS PARADISE</span>
    </div>
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Accueil</a>
      <a routerLink="/products" routerLinkActive="active" class="nav-link">Produits</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
      <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>


